<!-- Includes header.ejs  -->
<%- include('partials/header') %>
<!-- Includes main_nav.ejs  -->
<%- include('partials/main_nav') %>
<!-- Style Sheet-->
<link rel="stylesheet" href="/style.css">

<!-- Only displays the code below on the About us page   -->
  <% if (title==='About us' ) { %>

<!-- Sets the contiainter size and width to 800px -->
<div class="container mt-5" style="max-width: 800px;">
<!-- Displays the title centerd in the middle   -->
  <h1 class="text-center mb-4"> More About The Assignment Tracker</h1>
  <!-- Lead Paragraph centerd in the middle  -->
  <p class="lead">
    The Assignment Tracker was make by Hermela Fassil for Her Web & Script class. And the app was published on November 20, 2025. 
  </p>

  <h3 class="mt-3">Who would use/ benifit from the tracker?</h3>
  <p>
    The app would help sutdents keep track of all their assignemnts expecially becasue now is the time where students are faced with 
    a ton of projects, assignemnts and exams are approching.
  </p>
<!-- Size three header for the App key characterisists   -->
  <h3 class="mt-3">App key characterisitcs</h3>
  <ul>
    <li>Add the title for theri assignemnt title </li>
    <li>Add the course name for the assignemnt</li>
    <li>Add the due date for the assignemnt</li>
    <li>Add the priority level for the assignemnt</li>
    <li>Add the status for the assignemnt</li>
    <li>Add the chapter for the assignemnt</li>
    <li>Update / Edit their Assignments</li>
    <li>Delete their assignemnts</li>

<!-- Size three header for How to use the App  -->
  <h3 class="mt-3">How to Use the App</h3>
  
    <li>On the home page there are two buttons 
    <li>1. View Assignemtn list</li>
    <li>2. Add new Assignment</li>
      Please then press wich action you would like to make
    </li>
    <li>If you press view assignemnt list then you will see all the assignments that need to be done. You can also edit the infomration of the Assignment ans submit it when done this infomation will be added to the assignment page and will be udbate to the MongoDB database </li>
    <li>If your press Add new assignemnt then you will be take to the assignemnts add page whcih will require your to entre the title,course,due date,priorit,status and chapter. You will have two options to sumbit your infomration or cancel and clear the page  </li>
  
</div>

 
<% } %>

<!-- Includes footer.ejs  -->
<%- include('partials/footer') %>