<%- include('partials/header') %>
<%- include('partials/main_nav') %>

  <% if (title==='About us' ) { %>


    If you would like to get in contact with me, you can do so by filling out the form below!
  </h5>
 

<% } %>

<%- include('partials/footer') %>