<%- include('./partials/header') %>
<%- include('./partials/main_nav') %>

<!-- Splash Screen -->
<div id="splash">
  <h1 class="splash-text">Welcome to the Assignemnt Tracker !!!</h1>
</div>

<div class="container mt-5">

    <h2>This is the Assignments main page. Below are the options to view your past assignments or Add a new Assignment to your list !</h2>

    <!-- View all assignments -->
    <a href="/assignments" class="btn btn-primary mt-2">View Assignment List</a>

    <!-- Add new assignment -->
    <a href="/assignments/add" class="btn btn-success mt-2">Add New Assignment</a>
</div>


</div>

<%- include('./partials/footer') %>
