<!-- Includes header.ejs  -->
<%- include('partials/header') %>
<!-- Includes main_nav.ejs  -->
<%- include('partials/main_nav') %>
<link rel="stylesheet" href="/styles/style.css">


<!-- Splash Screen -->
<div id="splash">
  <p1 class="splash-text">Welcome to your personalizable Assignment Tracker</p1>
</div>

<div class="container mt-5">

    <h2>This is the main page. Below are the options to view your past assignments or add a new Assignment to your list !</h2>

    <!-- View all assignments -->
    <a href="/assignments" class="btn btn-primary mt-2">View Assignment List</a>

    <!-- Add new assignment -->
    <a href="/assignments/add" class="btn btn-success mt-2">Add New Assignment</a>
</div>


</div>

<%- include('./partials/footer') %>
