<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="post">
                <div class="form-group">
                    <label for="nameTextField">Assignment Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Assignment title"
                    name="title" required>
                </div>

                <div class="form-group">
                    <label for="courseTextField">Course </label>
                    <input type="text" class="form-control"
                    id="courseTextField"
                    placeholder="Enter the course name"
                    name="course" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Due Date</label>
                    <input type="text" class="form-control"
                    id="duedateTextField"
                    placeholder="Enter the due date of the assignments"
                    name="duedate" required>
                </div>

                <div class="form-group">
                    <label for="priorityTextField">Priority </label>
                    <textarea type="text" class="form-control"
                    id="priorityTextField"
                    placeholder="Enter the level of priority of the assignment"
                    name="priority" required></textarea>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Status </label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter yoru status of the assignment"
                    name="status" required>
                </div>
                
                <div class="form-group">
                    <label for="priceTextField">Chapter </label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter what chapters you will need to complete this assignment"
                    name="chapter" required>
                </div>

                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>
                <a href="/assignments" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>